[Unit]
Description=Dynamicbeat
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/dynamicbeat
ExecStart=/opt/dynamicbeat/dynamicbeat

[Install]
WantedBy=multi-user.target